<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="C:\src\iis-module-hosting\Api\bin\Debug\netcoreapp2.2\win-x64\Api.exe" arguments="" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
      <handlerSettings>
        <handlerSetting name="debugFile" value="..\logs\aspnetcore-debug-1.log" />
        <handlerSetting name="debugLevel" value="FILE,TRACE" />
      </handlerSettings>
      <environmentVariables>
        <!--<environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44327" />-->
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44327" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>